.container{
  width: 800px;
  margin: 50px auto;
}

.satu,
.dua{
  width: 200px;
  height: 200px;
  margin-left: 50px;
  border: solid;
  border-image-width: 20px;
  border-image-slice: 33%;
  border-image-repeat: round;

}

.satu{
  background-color: #39B54A;
  border-image-source: url('../img/hearts.png');
  box-shadow: 30px 30px;
  border-image-outset: 20px;
  margin-bottom: 40px;
}

.dua{
  background-color: blue;
  border-image-source: url('../img/border1.png');
  border-image-width: 26px;
  border-image-slice: 33%;
  border-image-repeat: round;
  border-image-outset: 15px;
  box-shadow: 5px 3px 10px;
}
